@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
}

p {
  text-align: justify;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.container {
  width: 100%;
  max-width: 1350px;

}

.cctabs {

  display: flex !important;
  gap: 2rem;
  /* align-items: center !important; */

}

.footerbackground {
  background-color: #0D254D;

}

.headcolor>li>a {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: #0D254D;
}

.headcolor>li>a:hover {
  color: #D48F23 !important;
}

.applycard {
  background-color: #0d254d;
}

.applybutton {
  color: #fff !important;
}

.copyright {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.footerheading {
  color: #D48F23;
}

.success {
  color: #fff;
}

.icon1 {
  height: 27px;
  width: 27px;
}

.pvpolicy {
  border-top: 1px solid #D48F23;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .mobile {
    display: block !important;
  }

  .desktop {
    display: none !important;
  }

  .tablistpanel {
    width: 100% !important;
  }

  .tablist {
    width: 100% !important;
  }

  .cctabs {
    display: block !important;
  }

  .container {
    width: 100%;
    max-width: 1350px;
  }

  .courselist {
    display: flex;
    gap: 0.5rem !important;
  }

  .ctab {
    font-size: 15px !important;
  }

  .heading {
    /* font-family: Plus Jakarta Sans; */
    font-size: 39px !important;
    font-weight: 700;
    line-height: 51px !important;
    text-align: left;
  }

  .formheading {
    font-family: Montserrat;
    font-size: 25px !important;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
  }

  .placementpara {
    font-size: 15px !important;
    line-height: 23.16px !important;
    text-align: center;
    color: #777777;
    font-weight: 500;
  }

  .placement_comapny_slider {
    padding: 51px 21px 34px 21px !important;
    text-align: center;
    background-color: #F5F8FE;
  }

  .placementheading {
    /* font-family: Plus Jakarta Sans; */
    font-size: 20px !important;
    font-weight: 700;
    line-height: 32px !important;
    text-align: center;
  }

  .ourfutureheading {
    /* font-family: Plus Jakarta Sans; */
    font-size: 30px !important;
    font-weight: 700;
    line-height: 44px !important;
    text-align: left;
    padding: 23px 82px 0px 10px !important;
    color: #0D254D;
  }

  .ourfutureparagraph {
    /* font-family: Plus Jakarta Sans; */
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    text-align: left;
    padding-left: 11px !important;
    color: #9F9F9F;
  }

  .etabs {
    display: flex !important;
    padding-top: 2rem;
    flex-direction: column !important;
  }

  .etab {
    width: -moz-max-content;
    width: max-content;
    cursor: pointer;
    height: 3rem;
    display: flex;
    align-items: center;
    width: 100% !important;
    padding: 20px;
    /* font-family: Plus Jakarta Sans; */
    font-size: 24px;
    font-weight: 700;
    line-height: 30.24px;
    text-align: left;
  }

  .tabpanel {
    background-color: #ffffff;
    padding: 0rem 0rem 2rem 0rem !important;
    /* font-family: Plus Jakarta Sans; */
    font-size: 18px;
    font-weight: 500;
    line-height: 26.16px;
  }

  .futurevision {
    height: auto !important;
  }

  .vtabs {
    display: flex !important;
    gap: 2rem;
    align-items: flex-start;
    flex-direction: column !important;
  }

  .tablist {
    display: flex;
    flex-direction: row !important;
    gap: 1rem !important;
    align-items: center;
  }

  .stab {
    font-size: 16px !important;
    line-height: 23px !important;
    border-right: none !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
  }

  .tpip {
    padding: 1rem 1rem 1rem 1rem !important;
    background: #F5F8FE;
    font-size: 14px !important;
    font-weight: 700;
    line-height: 20.76px !important;
    letter-spacing: 0.02em;
    text-align: center;
    color: #0D254D;
    border-radius: 0px 0px 40px 40px;
  }

  .vision {
    background-color: #F5F8FE;
    width: auto !important;
    height: auto !important;
  }

  .vis {
    max-width: 47rem;
    padding: 1rem !important;
  }

  .emx {
    /* font-family: Plus Jakarta Sans; */
    font-size: 38px !important;
    font-weight: 700;
    line-height: 42px !important;
    text-align: left;
    color: #0D254D;
  }

  .lifetime {
    /* font-family: Plus Jakarta Sans; */
    font-size: 32px !important;
    font-weight: 700;
    line-height: 40px !important;
    text-align: left;
    color: #0D254D;
  }

  .etablist {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background: #F5F8FE;
    width: 100% !important;
  }

  .chancelorheading {
    /* font-family: Plus Jakarta Sans; */
    text-align: left;
    /* font-family: Plus Jakarta Sans; */
    font-size: 39px !important;
    font-weight: 700;
    line-height: 50px !important;
  }

  .whygyanpara {
    /* font-family: Plus Jakarta Sans; */
    font-size: 14px !important;
    font-weight: 500;
    line-height: 25.16px;
    text-align: center;
    color: #777777;
  }

  .protext {
    font-size: 20px !important;
    font-weight: 700;
    line-height: 34px !important;
    text-align: center;
    padding: 18px !important;
  }

  .footercontact {
    display: block !important;
  }
}

.kalakari {
  line-height: 2.3rem;
  font-size: 1.2rem;
  text-align: justify;
}

.edgepara {
  line-height: 2.3rem;
  font-size: 1.2rem;
}

.coursebutton {

  display: flex;
  background-color: #D48F23 !important;
}

.contact {
  background-color: #0d254d;
  color: #fff;
}

.footercontact {
  color: #fff;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 20px;
}

.contactheading {

  font-size: 28px;
  font-weight: 600;
  line-height: 35.28px;
  text-align: left;
}

.contactpara {
  font-size: 18px;
  font-weight: 400;
  line-height: 22.68px;
  text-align: left;
  color: #C9C9C9;
}

.applybutton {
  /* width: Fixed (152px)px;
  height: Fixed (45px)px;
  top: 105px;
  left: 1198px; */
  padding: 15px 25px 15px 25px !important;
  gap: 10px;
  border-radius: 8px !important;
}

.logo {
  height: 62px;
  width: 198px;
}

.heading {
  /* font-family: Plus Jakarta Sans; */
  font-size: 45px;
  font-weight: 700;
  line-height: 72px;
  text-align: left;
}

.paragraph {
  /* font-family: Plus Jakarta Sans; */
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.formheading {
  font-family: Montserrat;
  font-size: 31px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}

.chy {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
}

.placementheading {
  /* font-family: Plus Jakarta Sans; */
  font-size: 48px;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
}

.placementpara {
  font-size: 22px;
  line-height: 27.16px;
  text-align: center;
  color: #777777;
  font-weight: 500;
}

.whygyan {
  /* font-family: Plus Jakarta Sans; */
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
  color: #0D254D;
}

.whygyanpara {
  /* font-family: Plus Jakarta Sans; */
  font-size: 19px;
  font-weight: 500;
  line-height: 25.16px;
  text-align: center;
  color: #777777;
}

.whygyanoptions {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  /* text-align: center; */
}

.whygyanoptionspara {
  font-size: 18px;
  font-weight: 400;
  line-height: 27.4px;
  /* text-align: center; */
  color: #777777;
}

.emx {
  /* font-family: Plus Jakarta Sans; */
  font-size: 48px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  color: #0D254D;
}

.urban {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
}

.urbanpara {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
  color: #777777;
}

.courses {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
}

.coursespara {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}

.coursename {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

.coursepara {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.fc {
  /* font-family: Plus Jakarta Sans; */
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
}

.fcpara {
  /* font-family: Plus Jakarta Sans; */
  font-size: 20px;
  font-weight: 500;
  line-height: 25.2px;
  text-align: justified;
}

.vp {


  padding: 20px 48px 20px 48px;
  border-radius: 8px;
  background: #D48F23;
}

.formsubheading {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #D48F23;
}

.homebutton {
  background-color: #D48F23;

}

.hometext {
  color: #D48F23;
}

.placement_comapny_slider {
  padding: 98px 64px 146px 64px;
  text-align: center;
  background-color: #F5F8FE;
  margin-top: 5rem;
}

.placement_heading {
  /* font-family: Plus Jakarta Sans; */
  font-size: 48px;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
}

.placement_paragraph {
  /* font-family: Plus Jakarta Sans; */
  font-size: 16px;
  font-weight: 500;
  line-height: 20.16px;
  text-align: center;
}

.vector1 {
  width: 47.98px;
  height: 53.97px;

}

.lifetime {
  /* font-family: Plus Jakarta Sans; */
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  color: #0D254D;
}

.lifetimepara {
  font-size: 18px;
  font-weight: 500;
  line-height: 29.16px;
  text-align: justified;
  color: #777777;
}

.admisiionbutton {
  display: flex;
  color: #D48F23;
  background-color: #fff !important;
}

.galleryheading {
  /* font-family: Plus Jakarta Sans; */
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
}

.gallerypara {
  font-size: 20px;
  font-weight: 500;
  line-height: 26.16px;
  text-align: center;
  color: #777777;
}

.vector2 {
  width: 88px;
  height: 54px;

}

.vector3 {
  width: 54px;
  height: 54px;

}

.vector4 {
  width: 54px;
  height: 54px;

}

.vtabs {
  display: flex !important;
  gap: 2rem;
  align-items: center !important;
}

.etabs {
  display: flex !important;
  padding-top: 2rem;
  flex-direction: row;
}

.tablist {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: end;
  width: 30%;
}

.tablistpanel {
  width: 70%;
}

.UG {
  /* font-family: Plus Jakarta Sans; */
  font-size: 24px;
  font-weight: 700;
  line-height: 72px;
  text-align: left;
  color: #0D254D;
  border-bottom: 5px solid #D48F23;
  width: fit-content;
}

.UGcourse {
  /* font-family: Plus Jakarta Sans; */
  font-size: 24px;
  font-weight: 500;
  line-height: 72px;
  text-align: left;
  color: #0D254D;

}

.one {
  height: 83px;
  width: 165px;
}

.stab {
  width: max-content;
  cursor: pointer;
  border-right: 5px solid #0D254D;
  height: 3rem;
  display: flex;
  align-items: center;
  color: #0D254D;
  /* font-family: Plus Jakarta Sans; */
  font-size: 24px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
}

.tabpanel {
  display: none;
}

.react-tabs__tab--selected {
  background: #0D254D !important;
  border-color: #0D254D !important;
  color: white !important;
  /* border-radius: 5px 5px 0 0; */
  padding: 20px !important;
}

.vdiv {
  background-color: #F5F8FE;
}

.tabpanel {
  background-color: #ffffff;
  padding: 0rem 2rem 2rem 2rem;
  /* font-family: Plus Jakarta Sans; */
  font-size: 18px;
  font-weight: 500;
  line-height: 26.16px;
}

.imgbc {
  background: url('../public//gyanrthibackground.jpg');
  background-size: cover;

}

.bgform {
  background: #0D254DCC;
}

.form {
  background-color: #F5F8FE;
}

.text2010 {
  width: 382px;
  height: 105px;
}

.text2010border {
  border-left: 0.5px solid #9F9F9F;
}

.tpip {
  padding: 1rem 5rem 1rem 5rem;
  background: #F5F8FE;
  font-size: 26px;
  font-weight: 700;
  line-height: 32.76px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #0D254D;
  border-radius: 0px 0px 40px 40px;
}



.vision {
  background-color: #F5F8FE;
  width: 943px;
  height: 495px;
  top: 1276px;
  left: 373px;
  gap: 0px;
}

.vis {
  max-width: 47rem;
  padding: 3rem;
}

.etablist {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  background: #F5F8FE;
}

.etab {
  width: max-content;
  cursor: pointer;
  /* height: 3rem; */
  display: flex;
  align-items: center;
  width: 424px;
  padding: 20px;
  /* font-family: Plus Jakarta Sans; */
  font-size: 24px;
  font-weight: 700;
  line-height: 30.24px;
  text-align: left;
}

.chancelorheading {
  /* font-family: Plus Jakarta Sans; */
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  text-align: left;
  /* font-family: Plus Jakarta Sans; */
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
}

.chancelorparagraph {
  /* font-family: Plus Jakarta Sans; */
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: justified;
  color: #777777;
}

.chancelorname {
  /* font-family: Plus Jakarta Sans; */
  font-size: 36px;
  /* font-weight: 500; */
  line-height: 54px;
  text-align: left;

}

.chancelorfounder {
  /* font-family: Plus Jakarta Sans; */
  font-size: 24px;
  /* font-weight: 500; */
  line-height: 54px;
  text-align: left;
  color: #9F9F9F;
}

/* 
.futurevision {
  height: 572px;

} */
.add {
  height: 2.2rem;
  width: 2.2rem;
}

.ourfutureheading {
  /* font-family: Plus Jakarta Sans; */
  font-size: 30px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  padding: 57px 215px 0px 82px;
  color: #0D254D;
}

.ourfutureparagraph {
  /* font-family: Plus Jakarta Sans; */
  font-size: 19px;
  font-weight: 500;
  line-height: 30.16px;
  text-align: left;
  padding-left: 87px;
  color: #777777;
}

.facultyimage {
  height: 100%;
  width: 100%;
}

.placementimage {
  position: absolute;
  height: auto !important;
  width: auto !important;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  color: transparent;
}

.protext {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
  padding: 68px;
}

.proradius {
  border-radius: 100px 0px 100px 100px;
}

.proradius2 {
  border-radius: 0px 100px 100px 100px;
}

.journeyheading {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
  padding-top: 4rem;
}

.journeypara {
  font-size: 18px;
  font-weight: 500;
  line-height: 22.68px;
  text-align: center;
}

.linewidth {
  width: 0.1px;
}

.ctabs {
  display: flex !important;
  align-items: center !important;
  flex-direction: column;
  background-color: #0d254d;
}

.courselist {
  display: flex;
  gap: 10rem;
}

.ctab {
  width: max-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
  /* font-family: Plus Jakarta Sans; */
  font-size: 24px;
  font-weight: 700;
  line-height: 54px;
  padding: 20px;
}

.selectedcourse {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  text-align: justify;
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}